<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>My todo notes</title>
</head>

<body>
    <h1>My todo notes v{{version}}</h1>
    <form id="add-note-form" action="/api/notes" method="POST">
        <fieldset>
            <legend>Add a new note</legend>
            <input type="text" name="title" placeholder="Title" required>
            <input type="text" name="description" placeholder="Description" required>
            <button type="submit">Add Note</button>
        </fieldset>
    </form>

    <ul class="notes">
        {% for note in notes %}
        <li class="note">
            <div class="title">{{ note.title }}
                <button class="delete-button" onclick="note_delete(this, {{ note.id }})">🗑</button>
            </div>
            <div class="line">
                <span>{{ note.description }}</span>
                <input type="checkbox" {% if note.done %}checked{%endif%}
                    onchange="note_done_changed(this, {{ note.id }})" />
            </div>
        </li>
        {% endfor %}
    </ul>

    <script src="{{ url_for('static', path='/js/update-backend.js') }}"></script>
    <script src="{{ url_for('static', path='/js/forms-use-json.js') }}"></script>
    <script src="{{ url_for('static', path='/js/ws-listener.js') }}"></script>
    <script src="{{ url_for('static', path='/js/clientside-rendering.js') }}"></script>
</body>

</html>
